#form {
  box-shadow: 0px 0px 5px 1px #0083cc;
}

.fb-icon {
  background: url('../img/icons-s547d772f72.png') 0 0;
}

.tw-icon {
  background: url('../img/icons-s547d772f72.png') -266px 0;
}

.gh-icon {
  background: url('../img/icons-s547d772f72.png') -133px 0;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: "Segoe Print", "Comic Sans MS";
}

body, h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/main.jpg) no-repeat center center;
  background-size: cover;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}
.intro-message > h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 5em;
}
.intro-message > h3 {
  padding: 10%;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.ic{
  height: 128px;
  width: 128px;
  display: inline-block;
}

@media (max-width: 767px) {
  .intro-message {
    padding-bottom: 15%;
  }
  .intro-message > h1 {
    font-size: 3em;
  }

  .intro-divider {
    width: 100%;
  }
}
.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.section-heading {
  margin-bottom: 30px;
}

.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background: url(../img/email.jpg) no-repeat center center;
  background-size: cover;
}
.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em;
}

@media (max-width: 767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
  }
}
#form {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border: 2px solid #156FD8;
}

#form {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
